.card {
    border: 1px solid rgb(158, 158, 158);
}

.bottomNav {
    position:absolute;
    bottom:20px;
    left:30px;
}

.pBottom {
    color: #17c6d3;
}

.img{
    margin-left: 10px;
    text-decoration: none; 
}