.card {
    border: 1px solid rgb(158, 158, 158);
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: white !important; 
}

.navbar-toggler, .navbar-toggle {
    color: rgb(84, 197, 208);
}

.bottomNav {
    position:absolute;
    bottom:0px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pBottom {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 550;
    color: rgb(84, 197, 208);
}

.img{
    margin-left: 10px;
    text-decoration: none; 
}

.control-label{
    color: #17c6d3;
    font-size: 16px;
    font-weight: 550;
    font-family: Roboto;
}

.navbar-nav{
    --bs-nav-link-color: rgb(17, 86, 103);
    --bs-nav-link-hover-color: rgb(84, 197, 208);
}

.navbar {
    --bs-navbar-active-color: rgb(84, 197, 208);
}

.navbar .nav-underline .nav-link, .navbar .nav-underline :where(ul.nav.navbar-nav > li) > a, .navbar .nav-underline .nav-tabs > li > a, .navbar .nav-underline .nav-pills > li > a {
    padding-bottom: calc(var(--bs-navbar-padding-y, .5rem) * 0);
    margin-bottom: calc(var(--bs-navbar-padding-y, .5rem));
  }

.nav-item{
    font-family: Roboto;
}

.nav-link{
    font-size: 16px;
    font-weight: normal;
}

.navbar-collapse{
    flex-grow: 0;
}

.navbar-brand{
    padding-left: 40px;
}

.navbar-toggler:hover{
    background-color: rgb(84, 197, 208);
}

@media (max-width: 1400px) {
    .grid .g-col-md-3  {
        grid-column: 1 / -1;
    }

    @media (min-width: 750px) {
        .grid .g-col-md-9 {
          grid-column: auto/span 12;
        }
      }
    
    @media (max-width: 751px) {
        .grid .g-col-md-9 {
          width: 800px;
        }
        .grid .g-col-md-3  {
          width: 800px;
        }
        .survival_card {
          width: 800px; 
        }
        .container-fluid{
            width: 800px;   
        }
    }
  }


.form-select {
    color:rgb(17, 86, 103);
    font-family: Roboto;
}

