.card {
    border: 1px solid rgb(158, 158, 158);
}

.bottomNav {
    position:absolute;
    bottom:20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pBottom {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 550;
    color: rgb(84, 197, 208);
}

.img{
    margin-left: 10px;
    text-decoration: none; 
}

.control-label{
    color: #17c6d3;
    font-size: 16px;
    font-weight: 550;
    font-family: Roboto;
}

.navbar-nav{
    --bs-nav-link-color: #017780;
    --bs-nav-link-hover-color: #17c6d3;
}

.navbar {
    --bs-navbar-active-color: #17c6d3;
}

.navbar .nav-underline .nav-link, .navbar .nav-underline :where(ul.nav.navbar-nav > li) > a, .navbar .nav-underline .nav-tabs > li > a, .navbar .nav-underline .nav-pills > li > a {
    padding-bottom: calc(var(--bs-navbar-padding-y, .5rem) * 0);
    margin-bottom: calc(var(--bs-navbar-padding-y, .5rem));
  }

.nav-item{
    font-family: Roboto;
}

.nav-link{
    font-size: 16px;
    font-weight: normal;
}

.navbar-collapse{
    flex-grow: 0;
}

.navbar-brand{
    padding-left: 40px;
}